{% extends 'base.html' %}

{% block title %}
Employees
{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
            <li><p class="navbar-brand" href="#">Department App</p></li>
            <li class="nav-item">
                <a class="nav-link" href="/departments" >Departments</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="/employees">Employees</a>
            </li>
            </ul>
    </div>
</div>
</nav>
<div class="container mt-5">
        <h1>Add employee</h1>
      <form method="post" class="form-row g-3 needs-validation" novalidate>
          <div class="row">
                <div class="col-md-2">
                  <label for="custom1" class="form-label">Full name</label>
                    <input type="text" name="name" class="form-control mr-1" id="custom1" placeholder="Anna Winter" required>
                </div>
                <div class="col-md-2">
                    <label for="custom2" class="form-label">Date of birth</label>
                    <input name="date_of_birth" id="custom2" type="date" class="form-control">
                </div>
                <div class="col-md-2">
                  <label for="custom3" class="form-label">Department</label>
                  <select name="dpt_name" class="form-select" id="custom3" required>
                    <option selected disabled value="">Choose department</option>
                      {% for dpt in departments %}
                          <option>{{ dpt.name }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="custom4" class="form-label">Salary</label>
                  <input name="salary" type="text" class="form-control" id="custom4" placeholder="1000" required>
                  </div>
          </div>
              <div class="col-12">
                  <br>
                  <button class="btn btn-primary" type="submit">Add employee</button>
              </div>
      </form>
 </div>
<div class="container mt-5">
    <h1 class="text-left">Find an employee by date of birth</h1>
     <form id="find_by_date" method="post" class="form-row g-3 needs-validation" novalidate>
         <div class="row">
        <div class="col-md-2">
                    <label for="custom5" class="form-label">Start date</label>
                    <input name="start_date" id="custom5" type="date" class="form-control">
        </div>
         <div class="col-md-2">
                    <label for="custom6" class="form-label">End date</label>
                    <input name="end_date" id="custom6" type="date" class="form-control">
        </div>
         </div>
         <div class="col-12">
             <br>
             <button class="btn btn-primary" type="submit">Find employee</button>
             <a href="/employees" class="btn btn-warning">Clear filter</a>
         </div>
     </form>
</div>
<div class="container mt-5">
    <h1>Employees</h1>
        <table id="data" class="table table-striped">
            <thead>
              <tr>
                <th>Full name</th>
                  <th>Date of birth</th>
                  <th>Department</th>
                  <th>Salary</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              {% for emp in employees %}
              {% if emp.id == id %}
                  <form method="post" class="row g-3 needs-validation" novalidate>
                            <tr>
                                <td><input type="text"  name="edit_name" class="form-control" id="validationCustom08" value="{{ emp.name }}" required></td>
                                <td><input name="edit_date_of_birth" id="validationCustom11" type="date" class="form-control" value="{{ emp.date_of_birth }}"></td>
                                <td><select name="edit_dpt" class="form-select" id="validationCustom09"  required>
                                    <option selected >{{ emp.department }}</option>
                                      {% for dpt in departments %}
                                        {% if dpt.name != emp.department %}
                                          <option>{{ dpt.name }}</option>
                                        {% endif %}
                                      {% endfor %}
                                  </select></td>
                                    <td><input name="edit_salary" type="text" class="form-control" id="validationCustom10" value="{{ emp.salary }}" required></td>
                                    <td>
                                        <button class="btn btn-success" type="submit">Change</button>
                                        <a href="/employees" class="btn btn-danger">Cancel</a>
                                    </td>

                         </tr>
                  </form>
              {% else %}
                <tr>
                  <td>{{ emp.name }}</td>
                    <td>{{ emp.date_of_birth }}</td>
                  <td>{{ emp.department }}</td>
                    <td>{{ emp.salary }}</td>
                    <td>
                        <a href="/employees/{{ emp.id }}/edit" class="btn btn-success">Edit</a>
                        <a href="/employees/{{ emp.id }}/del" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}